<!DOCTYPE html>
<html lang="en">

	<head>
		<title></title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link href="/assets/profile.css" rel="stylesheet" />
		<link href="/assets/form.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/assets/sidebar.css" />

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
			id="bootstrap-css" />
	</head>

	<body>
		<div class="mainContainer">
			<div class="header">
				<% include partials/admin/header %>
			</div>
			<div class="content">
				<% include partials/admin/sidebar %>
			</div>
		</div>
		<script src="/assets/sidebar.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	</body>

</html>