<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand">
			<a class="logo" href="/">Standup</a>
		</li>
		<li>
			<a href="/events">
				<i class="fa fa-dashboard fa-fw"></i>
				Events
			</a>
		</li>
		<li>
			<a href="/users/profile">
				<i class="fa fa-user fa-fw"></i>
				User Profile
			</a>
		</li>
		<li>
			<a href="/userscores">
				<i class="fa fa-star fa-fw"></i>
				User Scores
			</a>
		</li>
		<li>
			<a href="/checkins/usercheckins/">
				<i class="fa fa-calendar-check-o"></i>
				User Checkins
			</a>
		</li>
		<li>
			<a href="/users/logout"><i class="fa fa-sign-out fa-fw"></i>
				Logout
			</a>
		</li>

	</ul>
</div>