<!DOCTYPE html>
<html lang="en">
	<head>
		<title>StandUp</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<% include partials/links %>
		<link rel="stylesheet" type="text/css" href="/assets/table.css" />
	</head>
	<body>
		<div class="mainContainer" id="wrapper">
			<div class="content">
				<% include partials/sidebar %>
				<div class="innerContainer">
					<% include partials/flashmessage %>
					<% if(!active_events.length) { %>
						<div class="heading">
							<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
								<i class="fa fa-bars fa-fw"></i>
							</a>
							<h3>Sorry, there is no data to display</h3>		
						</div>
					<% } else { %>
						<div class="heading">
							<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars fa-fw"></i></a>
							<h3>Events</h3>
						</div>
						<div class="events-container">
							<% for (var key in active_events) { %>
								<div class="card" style="width: 300px;;">
									<img src="/assets/images/events.svg" class="card-img-top img-fluid">
									<div class="card-body">
										<h5 class="card-title "><%= active_events[key].name %></h5>
										<p class="card-text" id="card-text">
											<%= active_events[key].description.substring(0, 25); %>..............
										</p>
										<p class="date" id="date">
											<%= active_events[key].eventDate.toDateString() %>
										</p>
										<button class="link" onclick="window.location.href='/events/details/<%= active_events[key]._id %>'"> View Details</button>
									</div>
								</div>
							<% } %>
						</div>
					<% } %>
				</div>
			</div>
		</div>
		<script>
			if (sessionStorage.getItem("Page2Visited")) {
				sessionStorage.removeItem("Page2Visited");
				window.location.reload(true);
			}
		</script>
		<% include partials/scripts %>
	</body>
</html>