<!DOCTYPE html>
<html lang="en">
	<head>
		<title>StandUp</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
		<link href="/assets/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="wrapper" id="mainContainer">
			<h2 class="logo-link">
				<a href="/">StandUp</a> </h2>
			<div class="intro-container">
				<h2 class="intro-text-heading">Build A Great Workplace <br />With Your Productivity</h2>
				<p>
					Standup is an effective way to report employees progress monthly, <br>
					You have a voice, You have the skills. <br> Bring out the creativity in
					you to acheive success.
				</p>
				<a id="myBtn" href="/users/login" class="intro-button myBtn">
					Login
				</a>
			</div>
		</div>
	</body>
</html>