<!DOCTYPE html>
<html lang="en">
	<head>
		<title>StandUp</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
		<link href="/assets/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="s-wrapper" id="mainContainer">
			<div class="s-logo-brand">
				<h2 class="s-logo-link">
					<a href="/">StandUp</a>
				</h2>
			</div>
			<div class="s-intro-container">
				<div class="s-intro-container-body">
					<div class="s-intro-heading">
						<h1 class="s-intro-text-heading">Build A Great Workplace With Your Productivity</h1>
						<p>
							Standup is an effective way to report employees progress monthly,
							You have a voice, You have the skills. Bring out the creativity in
							you to acheive success.
						</p>
					</div>
					<div class="s-intro-login">
						<button class="btn" onclick="window.location.href='/users/login'"> Login</button>
					</div>
				</div>
				<div class="s-intro-image">
					<img src="/assets/images/background.svg" alt="">
				</div>
			</div>
		</div>
	</body>
</html>