<!DOCTYPE html>
<html lang="en">
    <head>
        <title>StandUp</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <% include partials/links %>
        <script>
            function noBack() {
                window.history.forward()
            }
            noBack()
            window.onload = noBack;
            window.onpageshow = function (evt) {
                if (evt.persisted) noBack()
            }
            window.onunload = function () {
                void (0)
            }
        </script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.3.4/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.3.4/dist/sweetalert2.min.js"></script>
    </head>

    <body>
        <div class="mainContainer" id="wrapper">
            <div class="content">
                <% include partials/sidebar %>
                <div class="innerContainer">
                    <% include partials/flashmessage %>
                    <div class="heading">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                            <i class="fa fa-bars fa-fw"></i>
                        </a>
                        <h3>User Score</h3>

                    </div>
                    <input type="hidden" name="userscore" id="userscore" value="<%= score %>">
                </div>
            </div>
            <% include partials/scripts %>
            <script>
                sessionStorage.setItem("Page2Visited", "True");
                let score = document.getElementById("userscore").value;
                Swal.fire({
                    title: 'Your Score is: ' + score,
                    icon: 'info',
                    confirmButtonColor: "#023059"
                }).then(function () {
                    location.href = "/userscores"
                })
            </script>
    </body>

</html>