<!DOCTYPE html>
<html lang="en">

<head>
	<title>StandUp</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<% include partials/links %>
	<style>
		.quiz-container {
			width: 100%;
			position: relative;
		}

		.quiz-container h3 {
			padding: 38px 32px;
		}

		.quiz-container a {
			position: absolute;
			text-decoration: none;
			background-color: #4caf50fa;
			color: white;
			border-radius: 5px;
			width: 150px;
			padding: 10px;
			margin: 10px;
			text-align: center;
			left: 10%;
			top: 16%;
		}
	</style>
</head>

<body>
	<% include partials/flashmessage %>
	<div class="mainContainer">
		<div class="content">
			<% include partials/sidebar %>
			<div class="innerContainer">
				<div class="heading">
					<h3>Activity Instructions</h3>

				</div>
				<div class="quizContainer">
					<div class="card">
						<img src="https://cdn.pixabay.com/photo/2016/11/21/20/03/calendar-1847346_960_720.png">
						<div class="card-body">
							<h5 class="card-title "><%= activity.instructions %></h5>
							<a href="/activity/startquiz/<%= activity.id %> ">Start Quiz</a>

						</div>
					</div>

				</div>


			</div>
		</div>
	</div>
	<script>
		sessionStorage.setItem("Page2Visited", "True");
	</script>
	<% include partials/scripts %>
</body>

</html>