<!DOCTYPE html>
<html lang="en">

<head>
	<title>StandUp</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<% include partials/links %>
	<style>
		.quiz-container {
			width: 100%;
			position: relative;
		}

		.quiz-container h3 {
			padding: 38px 32px;
		}

		.quiz-container a {
			position: absolute;
			text-decoration: none;
			background-color: #4caf50fa;
			color: white;
			border-radius: 5px;
			width: 150px;
			padding: 10px;
			margin: 10px;
			text-align: center;
			left: 10%;
			top: 16%;
		}
	</style>
</head>

<body>
	<% include partials/flashmessage %>
	<div class="mainContainer">
		<div class="content">
			<% include partials/sidebar %>
			<div class="innerContainer">
					<% if(!quiz.length) { %>
					<div class="heading">
						<h3>You do not have any quiz for this event</h3>
					</div>
					<% } else { %>
				<div class="heading">
					<h3 >Quiz</h3>

				</div>
				<div class="quizContainer">
					<% for (var key in quiz) { %>
					<div class="quizImage" >
						<img src="https://cdn.pixabay.com/photo/2017/01/24/01/13/quiz-2004350_960_720.png" alt="">
						<h3 style="margin: -10px 10px 22px; font-size: 24px;"><%= quiz[key].title %></h3>
						<a class="quizBtn" href="/activity/questions/<%= quiz[key]._id %>">Start Quiz</a>
					</div>
					<% } %>
				</div>
				<% } %>

			</div>
		</div>
	</div>
<script>
	sessionStorage.setItem("Page2Visited", "True");
</script>
	<% include partials/scripts %>
</body>

</html>