<!DOCTYPE html>
<html lang="en">

<head>
	<title>StandUp</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<% include partials/links %>
	<link href="/assets/table.css" rel="stylesheet" />
</head>

<body>
	<div class="mainContainer">
		<div class="content">
			<% include partials/sidebar %>

			<div class="innerContainer">
				<% if(!userscore.length) { %>
				<div class="heading">
					<h3>You do not have any quiz score</h3>
				</div>
				<% } else { %>
				<div class="heading">
					<h3>User Scores</h3>
				</div>
				<div class="tableContainer">
					<table id="table" style="overflow-x:auto;">

						<tr>
							<th>Event Title</th>
							<th>Score</th>
							<th>Date</th>
						</tr>
						<% for (var key in userscore) { %>
						<tr>
								<td><%= userscore[key].name %></td>
		
							<td><%= userscore[key].score %></td>
							<td><%= userscore[key].dateTaken %></td>
						</tr>
						<% } %>
					</table>

				</div>

				<% } %>
			</div>
		</div>
	</div>
	<% include partials/scripts %>
</body>

</html>