<!DOCTYPE html>
<html lang="en">
    <head>
        <title>StandUp</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <% include partials/links %>
        <link rel="stylesheet" type="text/css" href="/assets/table.css" />
    </head>

    <body>
        <% include partials/flashmessage %>
        <div class="mainContainer">
            <div class="content">
                <% include partials/sidebar %>
                <div class="innerContainer">
                    <% if(!checkins.length) { %>
                        <div class="heading">
                            <h3>Sorry, there is no data to display</h3>
                        </div>
                    <% } else { %>
                        <div class="heading">
                            <h3>All Checkins</h3>
                        </div>
                        <div class="tableContainer table-responsive">
                            <table id="table" class="table">
                                <tr>
                                    <th> Event</th>
                                    <th>Checked_In Date</th>
                                </tr>
                                <% for (var key in checkins) { %>
                                    <tr>
                                        <td><%= checkins[key].eventdetails[0].name %></td>
                                        <td><%= checkins[key].checkin_Date.toLocaleString() %></td>
                                    </tr>
                                <% } %>

                            </table>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <% include partials/scripts %>
    </body>

</html>