<!DOCTYPE html>
<html lang="en">
    <head>
        <title>StandUp</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <% include partials/links %>
        <link rel="stylesheet" type="text/css" href="/assets/table.css" />
    </head>

    <body>
        <div class="mainContainer" id="wrapper">
            <div class="content">
                <% include partials/sidebar %>
                <div class="innerContainer">
                    <% include partials/flashmessage %>
                    <div class="heading">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                            <i class="fa fa-bars fa-fw"></i>
                        </a>
                        <h3>All Checkins</h3>
                    </div>
                    <% if(!checkins.length) { %>
                        <div class="card">
                            <div class="card-header s-custom-card-header">
                                Activity
                            </div>
                            <div class="card-body">
                                <h4 class="card-title s-custom-card-title">You have not checked-in to any event</h4>
                                <button class="link" onclick="window.location.href='/events'">
                                    Check-in to an event
                                </button>
                        </div>
                    <% } else { %>
                        <div class="tableContainer table-responsive">
                            <table id="table" class="table">
                                <tr>
                                    <th> Event</th>
                                    <th>Checked_In Date</th>
                                </tr>
                                <% for (var key in checkins) { %>
                                    <tr>
                                        <td><%= checkins[key].eventdetails[0].name %></td>
                                        <td><%= checkins[key].checkin_Date.toLocaleString() %></td>
                                    </tr>
                                <% } %>

                            </table>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <% include partials/scripts %>
    </body>

</html>