*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif!important;
}

.s-wrapper {
	height: 100%;
	width: 100%;
	overflow: auto;
	display: block;
	position: relative;
	z-index: 1;
	background-color: #ffffff;
}

.s-logo-brand {
	margin-left: 3rem;
}

.s-logo-link {
	display: inline-block;
	padding: 10px 0px;
	padding-top: 0;
	font-weight: 700;
	font-size: 35px;
}

.s-logo-link a {
	text-decoration: none;
	color: #0A4359;
}

.s-logo-link a:hover {
	text-decoration: none;
}

.s-intro-login .btn {
	text-align: center;
	font-size: 20px;
	color: #fff;
	background-color: #0A4359;
	;
	border: none;
	border-radius: 5px;
	padding: 10px;
	width: 200px;
	height: 50px;
}

.s-intro-container {
	width: 100%;
	height: fit-content;
	padding-left: 3rem;
	display: flex;
	flex-direction: row;
}

.s-intro-image img {
	width: 100%;
}

.s-intro-container p {
	color: #4F4F4F;
	padding: 10px 0px;
}

.s-intro-text-heading {
	font-size: 2.6rem;
}

.s-intro-container-body {
	padding: 81px 0px 50px;
	width: 100%;
	max-width: 45rem;
	display: flex;
	flex-direction: column;
	text-align: left;
}

@media (max-width: 640px) {
	.s-wrapper {
		height: 100%;
		background-size: 100% 100%;
		overflow: auto;
	}
	.s-intro-container {
		flex-direction: column-reverse;
		padding: 20px;
	}
	.s-intro-container-body {
		align-items: center;
		text-align: justify;
	}
	.s-intro-text-heading {
		width: 100%;
		padding-left: unset;
		text-align: left;
		font-size: 2rem;
	}
	.s-intro-container p {
		padding-left: unset;
		width: 100%;
	}
	.s-logo-link {
		display: inline-block;
		padding-top: 0;
		margin-left: unset;
		font-weight: 700;
		font-size: 35px;
	}
	.s-logo-link a {
		text-decoration: none;
	}
	.s-logo-link a:hover {
		text-decoration: none;
	}
	#myBtn {
		text-decoration: none;
		text-align: center;
		color: #ffffff;
		background-color: #000;
		border-radius: 5px;
		width: 150px;
		margin-left: unset;
		padding: 10px;
	}
	.s-intro-container p {
		padding: 10px;
	}
}

@media (max-width: 1007px) {
	.s-intro-container-body {
		padding: 0px 0px 50px;
	}
}