*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif!important;
	background-color: #eee;
}

.wrapper {
	height: 100%;
	width: 100%;
	overflow: auto;
	display: block;
	position: relative;
	z-index: 1;
	background-color: #ffffff;
	background: linear-gradient(to bottom, #5555539e, #464849), url("https://images.unsplash.com/photo-1508873699372-7aeab60b44ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.logo-link {
	display: inline-block;
	padding: 10px 0px;
	margin-left: 5rem;
	padding-top: 0;
	font-weight: 700;
	font-size: 35px;
}

.logo-link a {
	text-decoration: none;
	color: #000000;
}

.logo-link a:hover {
	text-decoration: none;
}

#myBtn {
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	background-color: #000;
	border-radius: 5px;
	padding: 10px;
	margin-left: 5rem;
}

.intro-container {
	position: absolute;
	width: 100%;
	height: fit-content;
}

.intro-container p {
	padding: 10px 0px;
	padding-left: 5rem;
	width: 55%;
}

.intro-container a {
	width: 200px;
}

.intro-text-heading {
	font-size: 50px;
	width: 55%;
	padding-left: 5rem;
}

@media (min-width: 200px) and (max-width: 700px) {
	.wrapper {
		text-align: center;
		height: 100%;
		background-size: cover;
		overflow: scroll;
	}
	.intro-container {
		width: unset;
		left: unset;
	}
	.intro-text-heading {
		width: 100%;
		padding-left: unset;
	}
	.intro-container p {
		padding-left: unset;
		width: 100%;
	}
	.logo-link {
		display: inline-block;
		padding: 10px 50px;
		padding-top: 0;
		margin-left: unset;
		font-weight: 700;
		font-size: 35px;
	}
	.logo-link a {
		text-decoration: none;
		color: #000;
	}
	.logo-link a:hover {
		text-decoration: none;
	}
	#myBtn {
		text-decoration: none;
		text-align: center;
		color: #ffffff;
		background-color: #000;
		border-radius: 5px;
		width: 150px;
		margin-left: unset;
		padding: 10px;
	}
	.intro-container p {
		padding: 10px;
	}
}

@media (min-width: 800px) and (max-width: 900px) {}