<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand">
			<a class="logo" href="/">Standup</a>
		</li>
		<li>
			<a href="/admin/dashboard">
				<i class="fa fa-dashboard fa-fw"></i> 
				Dashboard
			</a>
		</li>
		<li>
			<a href="/users/all">
				<i class="fa fa-user fa-fw"></i> 
				Users
			</a>
		</li>
		<li>
			<a href="/checkins/all/">
				<i class="fa fa-calendar-check-o"></i> 
				Checkins
			</a>
		</li>
		<li>
		<a href="/events/all">
			<i class="fa fa-calendar fa-fw"></i> 
			Events
		</a>
		</li>
		<li>
			<a href="/users/logout"><i class="fa fa-sign-out fa-fw"></i>
				Logout
			</a>
		</li>

	</ul>
</div>